body {
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

canvas {
    background-color: greenyellow;
    border: 2px solid black;
}